.image {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Ajusta esta altura según tu preferencia */
    border-radius: 10px; /* Puedes ajustar el radio de las esquinas si lo deseas */
  }