<app-header></app-header>
<app-navbar></app-navbar>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="6000">
        <img src="../../../assets/img/home1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="../../../assets/img/home3.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="../../../assets/img/home2.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="../../../assets/img/home4.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container mt-4">
    <h2>Noticias</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Los mejores ventiladores de techo silenciosos que puedes comprar en este 2024</h5>
            <p class="card-text">Con la prematura llegada del calor, nos toca estar preparados para esas noches calurosas de verano en las que dormir a veces se hace imposible. Muchos usuarios preferimos pasar estas noches acompañados de un buen ventilador de techo, ya que no consume tanto como un aire acondicionado y podemos regular su temperatura para no pasar frío</p>
            <a href="https://topesdegama.com/actualidad/productos/ventiladores-techo-silenciosos" class="noticia-enlace">Leer más</a>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Noticia 2</h5>
            <p class="card-text">Contenido de la noticia 2. Esta noticia ocupa la mitad de la pantalla a la derecha.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Noticia 3</h5>
            <p class="card-text">Contenido de la noticia 3. Esta noticia ocupa la mitad de la pantalla a la izquierda, debajo de la primera noticia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Noticia 4</h5>
            <p class="card-text">Contenido de la noticia 4. Esta noticia ocupa la mitad de la pantalla a la derecha, debajo de la segunda noticia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col">
        <img src="../../../assets/img/lamparasoporto.png" class="d-block w-100" style="height: 400px;" alt="Imagen que ocupa todo el ancho de la pantalla">
      </div>
    </div>
  </div>