<app-header></app-header>
<app-navbar></app-navbar>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="../../../assets/img/home1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../../../assets/img/home3.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../../../assets/img/home2.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../../../assets/img/home4.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container mt-4">
    <h2>Noticias</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Los mejores ventiladores de techo silenciosos que puedes comprar en este 2024</h5>
            <p class="card-text">Con la prematura llegada del calor, nos toca estar preparados para esas noches calurosas de verano en las que dormir a veces se hace imposible. Muchos usuarios preferimos pasar estas noches acompañados de un buen ventilador de techo, ya que no consume tanto como un aire acondicionado y podemos regular su temperatura para no pasar frío</p>
            <a href="https://topesdegama.com/actualidad/productos/ventiladores-techo-silenciosos" class="noticia-enlace">Leer más</a>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Así influye una buena ilumninacion en tu bienestar físisco y emocial, según la neuroarquitectura</h5>
            <p class="card-text">Una iluminación natural y artificial bien diseñada nos proporciona salud y bienestar. La neuroarquitecta Rita Gasalla arroja luz sobre este asunto.</p>
            <a href="https://www.hola.com/decoracion/galeria/20231117243566/iluminacion-casa-bienestar-fisico-emocional-neuroarquitectura-nu/1/" class="noticia-enlace">Leer más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">La lámpara de lava: el invento más accidental que revolucionó la iluminación</h5>
            <p class="card-text">La lámpara de lava es un invento accidental que revolucionó la iluminación. ¿En qué consiste y cómo funciona?</p>
            <a href="https://okdiario.com/ciencia/lampara-lava-invento-mas-accidental-que-revoluciono-iluminacion-11972074" class="noticia-enlace">Leer más</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Adiós a las bombillas y lámparas: llega la luz inteligente de Ikea</h5>
            <p class="card-text">Ikea está intensificando la producción de elementos inteligentes para el hogar, esos que nos hacen la vida más fácil y nos ayudan a ahorrar dinero en las facturas.</p>
            <a href="https://www.diariodeibiza.es/vida-y-estilo/decoracion/2024/04/12/adios-bombillas-lamparas-llega-luz-dv-100961305.html" class="noticia-enlace">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col">
        <img src="../../../assets/img/lamparasoporto.png" class="d-block w-100" style="height: 400px;" alt="Imagen que ocupa todo el ancho de la pantalla">
      </div>
    </div>
  </div>

<app-footer></app-footer>