.card {
    border-radius: 15px;
    background-color: #f9f9f9; /* Fondo claro */
}

.card-title {
    color: #007bff; /* Color del título */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
